body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.2em;
}

nav {
  background-color: #f72210;
  color: #fff;
  font-weight: bold;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.right,
.left {
  display: flex;
  align-items: center;
}

.left {
  justify-content: space-evenly;
}

.right a,
.left a {
  text-decoration: none;
  color: #fff;
}

.weather-section {
  margin-top: 5px;
}

.weather-degree,
.weather-location {
  font-size: 15px;
}

.subscribe {
  background-color: #fff;
}

.subscribe p {
  color: #f72210;
}

.fa-bars {
  color: #fb9a94;
}

.dropdown {
  background: none;
  border: none;
  font-size: 30px;
}

.newspapaper-small-size {
  display: flex;
  flex-direction: column;
}

.top-story {
  display: flex;
  flex-direction: column;
  padding: 3%;
}

.top-story-head {
  color: rgba(3,3,3,.4);
  margin: 0;
  padding-bottom: 11px;
  font-size: 16px;
  font-weight: 700;
}

.top-story-image-container {
  position: relative;
}

.top-story-topic {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  background-color: rgba(255,255,255,.9);
  padding: 6px 12px;
}

.top-story-topic a {
  font-size: 15px;
  font-weight: 700;
  color: #f72210;
  text-decoration: none;
}

.top-story-title {
  margin-top: 15px;
  margin-bottom: 10px;
}

.top-story-title a {
  color: #000;
  font-size: 22px;
  font-weight: 700;
}

.top-story-bite {
  color: #333;
  font-size: 13px;
  font-weight: 400;
}

.aside-container {
  display: flex;
  border-top: 1px solid #ddd;
}

.aside-image {
  margin-top: 15px;
  margin-right: 10px;
}

.aside-text {
  margin-top: 10px;
}

.aside-title {
  margin-bottom: 10px;
}

.aside-title a {
  color: #000;
  font-weight: 700;
  font-size: 15px;
}

.aside-bite {
  color: #333;
  font-size: 13px;
  font-weight: 400;
}

.featured-stories {
  padding: 3%;
}

.opinion {
  display: flex;
  flex-direction: column;
  padding: 3%;
}

.opinion-container {
  display: flex;
  border-bottom: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 5px;
}

.opinion-container-last {
  border-bottom: none;
}

.opinion-text {
  margin-left: 15px;
}

.opinion-text a {
  color: #000;
  font-size: 15px;
  font-weight: 700;
}

.opinion-author {
  font-weight: 700;
  font-size: 14px;
  color: #555;
}

.opinion-icon-container {
  background: none;
  display: flex;
  width: 63px;
  height: 63px;
}

.opinion-icon {
  background-color: #f72210;
  border-radius: 50%;
  background-image: url(images/opinion2.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 63px;
  height: 63px;
  overflow: hidden;
}

.the-debate {
  display: flex;
  flex-direction: column;
  padding: 3%;
}

.the-debate-container-main {
  display: flex;
}

.the-debate-container-main p {
  align-self: center;
  font-size: 17px;
  font-weight: 700;
}

.the-debate-container-second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.the-debate-container-second p {
  font-size: 14px;
  color: #555;
  font-weight: 500;
}

.the-debate-author-name {
  font-size: 14px;
  color: #000;
  font-weight: 700;
}

.the-debate-author-photo {
  z-index: 1;
}

.the-debate-container-second::before {
  content: "";
  display: block;
  background-color: #d9d9d9;
  height: 1px;
  position: absolute;
  top: 12px;
  left: 0;
  right: 0;
}

.the-debate-container-second::after {
  content: "";
  display: block;
  background-color: #d9d9d9;
  height: 1px;
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
}

.the-debate-container-vs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #000;
  color: #d6d6d6;
  border-radius: 50%; 
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  margin: 14px auto 18px;
}

.the-debate-top {
  border-top: 4px solid #f92859;
}

.the-debate-bottom {
  border-top: 4px solid #1c87fb;
}

.more-stories {
  padding: 3%;
  display: flex;
  flex-direction: column;
}

.more-stories-container {
  display: flex;
  border-top: 1px solid #ddd;
}

.more-stories-title a {
  font-size: 17px;
  color: #000;
  font-weight: 700;
}

.more-stories-bite {
  font-size: 13px;
  color: #333;
  font-weight: 400;
}

.culture-travel {
  padding: 3%;
}

.culture-travel-image-container {
  position: relative;
}

.culture-travel-topic {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  background-color: #c2d4d7;
}

.culture-travel-topic a {
  font-size: 13px;
  color: #272727;
  padding-left: 6px;
  padding-right: 6px;
  text-decoration: none;
}

.culture-travel-title a{
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #272727;
  text-decoration: none;
}

.culture-travel-bite {
  font-size: 15px;
  color: rgba(39,39,39,.5)
}

.latest-news {
  padding: 3%;
}

@media (min-width: 992px) {
  nav {
    height: 95px;
    align-items: baseline;
    width: 100vw;
  }

  .top-bar {
    height: 95px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .left {
    display: flex;
    flex-direction: column;
  }

  .weather-section {
    display: flex;
    flex-direction: column;
    font-weight: 400;
  }

  .right {
    align-self: flex-end;
    margin-right: 10px;
  }

  .bottom-bar {
    display: flex;
    flex-direction: column;
  }

  .menu-list {
    display: flex;
    line-height: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid #f4f5f6;
  }

  .menu-items {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 10px;
    list-style: none;
    font-size: 19px;
    font-weight: 500;
    flex-grow: 1;
    border-right: 1px solid #d9d9d9;
  }

  .menu-items-last {
    border-right: none;
  }

  .menu-items-search {
    font-weight: 300;
    color: #666;
  }
  .menu-items a {
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: none;
  }
}